{
  "root": true,
  "extends": "airbnb-base",
  "rules": {
    "max-len": 0,
    "no-console": 0,
  },
  "overrides": [{
    "files": ["test/**/*.js"],
    "env": {
      "jest": true,
    },
    "rules": {
      "global-require": "off",
    },
  }],
}
